.timepicker {
  min-width: 160px;
  background-color: #fff;  
  padding: 2px; 
  display: inline-block;
  table {
    width: 100%;
    margin: 0;
    td { 
      text-align: center;
      height: 30px;
      margin: 0;
      padding: 0px;
      &:not(.separator) {
        min-width: 30px;
      }
      a {
        margin: 0;
        padding: 8px 0;
        outline: none;
        color: #333;
      }
      input {
        width: 30px;
        margin: 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .timepicker {
    width:100%;
  }
}

.arrow {  
  display:inline-block;
  height: 0;
  width: 0;
  border: 9px solid transparent;
}
.arrow.up {
   border-bottom-color: #000;
   &:hover{
    border-bottom-color: #555;
  }
}
.arrow.down {
   border-top-color: #000;
   &:hover{
    border-top-color: #555;
  }
}
